<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coronaapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/corona"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainCorona.VideoAboutCorona" />
        <activity android:name=".Chat.MessageActivity" />
        <activity android:name=".MainCorona.AdviceCorona" />
        <activity android:name=".Profile.Profile" />
        <activity android:name=".Profile.Register" />
        <activity android:name=".Profile.LogIn" />
        <activity android:name=".MainCorona.DetailActivity" />
        <activity android:name=".MainCorona.AffectedCountries" />
        <activity android:name=".Chat.Chat_Room"/>
        <activity android:name=".MainCorona.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>